font-face(fontName, fontFileName, path = '../fonts/'){
    font-family: fontName;
    src: url(path+fontFileName+'.eot');    
    src: url(path+fontFileName+'.eot?#iefix')format('embedded-opentype'),
    url(path+fontFileName+'.ttf') format('truetype');
    //url('../fonts/'+fontFileName+'.svg#'+fontName) format('svg');
    font-weight:  normal;
    font-style:   normal;
    font-variant: normal;
}